@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hind;
  src: url(https://api.fontshare.com/v2/css?f[]=hind@400&display=swap);
}

@font-face {
  font-family: khand;
  src: url(https://api.fontshare.com/v2/css?f[]=khand@700&display=swap);
}

:root {
  --primary: 229, 229, 203;
  --secondary: 213, 206, 163;
  --tertiary: 54, 47, 44;
  --dark: 35, 33, 31;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(var(--primary)); /* Color of the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--secondary)); /* Color of the handle on hover */
}