@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hind;
  src: url(https://api.fontshare.com/v2/css?f[]=hind@400&display=swap);
}

@font-face {
  font-family: khand;
  src: url(https://api.fontshare.com/v2/css?f[]=khand@700&display=swap);
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
