@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hind;
  src: url(https://api.fontshare.com/v2/css?f[]=hind@400&display=swap);
}

@font-face {
  font-family: khand;
  src: url(https://api.fontshare.com/v2/css?f[]=khand@700&display=swap);
}

:root {
  --primary: rgb(229, 229, 203);
  --secondary: rgb(213, 206, 163);
  --tertiary: rgba(54, 47, 44, 1);
  --dark: rgba(35, 33, 31, 1);
  --transparent: rgbba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-base-color: red;
  scrollbar-arrow-color: red;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--primary); /* Color of the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary); /* Color of the handle on hover */
}